$accent-color:#FA4A0C;
$logo-color:rgba(0, 156, 191, 1);
$text-color:#FFF;
$title-color:#000;
$second-text:#737373;
$footer-text:#5C5C5C;
$link-color:#252B42;
$bg-color:rgba(23, 16, 16, 0.60);
$donuts-color:rgba(37, 43, 66, 0.4);
$border-color:rgba(183, 50, 39, 0.20);